extends layout

block content
  h2= "My APIs"
  br
  div.a
    p Below are a few API endpoints that are protected by Okta CIS.

  br
  br
  
  a(href=`${apiurl}`+"api/public")
    button.c-button Test Public API
    
  br
  br
    
  a(href=`${apiurl}`+"api/private")
    button.c-button Test Private API
    
  br
  br
    
  a(href=`${apiurl}`+"api/access")
    button.c-button Test Access API
  
  br
  br
  br
  
  div.b
  container
    p Testing container
  

  form.navbar-form.navbar-left(method="get", action="/profile")
            button#logout-button.btn.btn-primary(type="submit") Back to the profile page