extends layout

block content
  h2= "My APIs"
  br
  div
    p Below are a few API endpoints that are protected by Okta CIS.

    br
    a.btn(href="/api/public") Press
    
    
  br   
  form.navbar-form.navbar-left(method="get", action="/profile")
            button#logout-button.btn.btn-primary(type="submit") Back to the profile page