extends layout

block content
  h2= "My APIs"
  br
  div
    p Below are a few API endpoints that are protected by Okta CIS.

    br

    
  <input type="button" onclick="location.href='https://google.com';" value="Go to Google" />

   br
  
   br


  form.navbar-form.navbar-left(method="get", action="/profile")
            button#logout-button.btn.btn-primary(type="submit") Back to the profile page