extends layout

block content
  h2= "My APIs"
  br
  div.a
    p Below are a few API endpoints that are protected by Okta CIS.

  br
    
  <input type="button" onclick="location.href='#{apiurl}api/public';" value="Test Public API" />
  
  br
  br
  
  button.c-button Test Private API
  
  br
  br
  
  a(href=#{apiurl}"api/private")
    button.c-button Test Private API

  br
  
  br

  div.b
    p TESTING FLOAT.
  

  form.navbar-form.navbar-left(method="get", action="/profile")
            button#logout-button.btn.btn-primary(type="submit") Back to the profile page