extends layout

block content
  h2= "Welcome back Nissan Dealerships!"
  if authenticated
    br
    div
      p Welcome back!
      p You have successfully authenticated with Okta CIS, and have been redirected back to this application.
      p Visit the #[a(href="/profile") My Profile] page in this application to view the information retrieved with your OAuth Access Token.
  else
    br
    div
      p At Nissan, we are dedicated to crafting success through collaborative excellence. 
      p Our mission is to bring together innovative minds, cutting-edge technology, and unwavering commitment to create solutions that empower individuals and businesses alike. 
    br
    div
      img(src="https://i.ytimg.com/vi/k7q2fLTOnnU/maxresdefault.jpg" style="width:848px; height:477px;")
      
        
