extends layout

block content
  h2= "Crafting Success Together: Acme's Way."
  if authenticated
    br
    div
      p Welcome back!
      p You have successfully authenticated with Okta CIS, and have been redirected back to this application.
      p Visit the #[a(href="/profile") My Profile] page in this application to view the information retrieved with your OAuth Access Token.
  else
    br
    div
      p At Acme, we are dedicated to crafting success through collaborative excellence. 
      p Our mission is to bring together innovative minds, cutting-edge technology, and unwavering commitment to create solutions that empower individuals and businesses alike. 
      
      
        
