extends layout

block content-index

  
  if authenticated
    div.hero
      h2= "Welcome back Nissan Dealerships!"
      p Visit the #[a(href="/portal") My Portal] page to view all of your applications.
    br
    div

  else
    div.hero
      h3= "At Nissan, we are dedicated to crafting success through collaborative excellence."
      p Our mission is to bring together innovative minds, cutting-edge technology, and unwavering commitment to create solutions that empower individuals and businesses alike. 
      img(src="https://www.shutterstock.com/shutterstock/videos/1082567833/thumb/1.jpg?ip=x480" style="display: block; margin: auto; border-radius: 1rem;")
    br
    div
      img(src="https://www.shutterstock.com/shutterstock/videos/1082567833/thumb/1.jpg?ip=x480" style="display: block", margin: "auto")
      
        
