doctype html

script(src="https://unpkg.com/axios@0.16.1/dist/axios.min.js")
script(src="/support/client.js")




html
  head
    title= "Healthcare Portal"
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet", href='/public/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet',href='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/monokai-sublime.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  body#samples
    nav.navbar.navbar-default
      div.container-fluid
        ul.nav.navbar-nav
          a(href="/")
            i.fa.fa-home(style="font-size: 6rem; color: #337ab7; padding: 10px;")
        if authenticated
          form.navbar-form.navbar-right(method="post", action="/logout")
            button#logout-button.btn.btn-primary.btn-lg.btn-modern(type="submit") Logout
          form.navbar-form.navbar-right(method="get", action="/profile")
            button#logout-button.btn.btn-primary.btn-lg.btn-modern(type="submit") My Profile
        else
          form.navbar-form.navbar-right(method="get", action="/login")
            button#login-button.btn.btn-primary.btn-lg.btn-modern(type="submit") Sign In
    div#content-index.container
      
      block content-index
    
    div#content.container
    
      block content
  
  
    //-
      footer.footer
        p Copyright © 2024 Healthcare Portal
