doctype html

script(src="https://unpkg.com/axios@0.16.1/dist/axios.min.js")
script(src="/support/client.js")




html
  head
    title= "Login UI"
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet',href='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/monokai-sublime.min.css')
  body#samples
    nav.navbar.navbar-default
      div.container-fluid
        ul.nav.navbar-nav
          a(href="/")
            img(src="https://cdn.glitch.global/80c5ca9d-31e6-4e35-ac7b-074b74040449/Acme-auto_1906_logo.jpg?v=1691432327142", height="100", style="padding: 10px;")
        if authenticated
          form.navbar-form.navbar-right(method="post", action="/logout")
            button#logout-button.btn.btn-danger(type="submit") Logout
        else
          form.navbar-form.navbar-right(method="get", action="/login")
            button#login-button.btn.btn-primary(type="submit") Login           
    div#content.container
    
      block content
