doctype html

script(src="https://unpkg.com/axios@0.16.1/dist/axios.min.js")
script(src="/support/client.js")




html
  head
    title= "Healthcare Portal"
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet", href='/public/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet',href='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/monokai-sublime.min.css')
  body#samples
    nav.navbar.navbar-default
      div.container-fluid
        ul.nav.navbar-nav
          a(href="/")
            img(src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAwIiBoZWlnaHQ9IjYwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxyZWN0IHdpZHRoPSIyMDAiIGhlaWdodD0iNjAiIGZpbGw9IiM0ZmFjZmUiLz48dGV4dCB4PSIxMDAiIHk9IjM1IiBmb250LWZhbWlseT0iQXJpYWwsIHNhbnMtc2VyaWYiIGZvbnQtc2l6ZT0iMTQiIGZpbGw9IndoaXRlIiB0ZXh0LWFuY2hvcj0ibWlkZGxlIiBkeT0iLjNlbSI+SGVhbHRoY2FyZSBQb3J0YWw8L3RleHQ+PC9zdmc+", height="60", style="padding: 10px; border-radius: 8px;")
        if authenticated
          form.navbar-form.navbar-right(method="post", action="/logout")
            button#logout-button.btn-n.btn-danger-n(type="submit") Logout
          form.navbar-form.navbar-right(method="get", action="/profile")
            button#logout-button.btn-n.btn-primary-n(type="submit") My Profile
        else
          form.navbar-form.navbar-right(method="get", action="/login")
            button#login-button-n.btn-n.btn-primary-n(type="submit") Sign In
    div#content-index.container
      
      block content-index
    
    div#content.container
    
      block content
  
  
    //-
      footer.footer
        p Copyright © 2024 Healthcare Portal
