doctype html
html
  head
    title= "my.Org SSO Application"
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  body#samples
    nav.navbar.navbar-default
      div.container-fluid
        ul.nav.navbar-nav
          a(href="/")
            img(src="https://cdn.glitch.global/2389d107-d1f8-44e8-b56f-d4c240cb3c14/favicon99.png?v=1663338772348", height="75", style="padding: 10px;")
        if authenticated
          form.navbar-form.navbar-right(method="post", action="/logout")
            button#logout-button.btn.btn-danger(type="submit") Logout
        else
          form.navbar-form.navbar-right(method="get", action="/login")
            button#login-button.btn.btn-primary(type="submit") Login           
    div#content.container
    
      block content
