extends layout

block content

  div.portal
  // Display admin-specific tiles
  if isAdmin
    a.tile.admin(href="/admin-panel")
      h3 Admin Panel
      p Manage users, settings, and permissions.
    a.tile.admin(href="/reports")
      h3 Reports
      p View system reports and logs.
    a.tile.admin(href="/profile")
      h3 Settings
      p Update your account information.

  // Display user-specific tiles
  if isUser
    a.tile.user(href="/profile")
      h3 User Dashboard
      p View your profile information.
    a.tile.user(href="https://nissan-saml.glitch.me/portal")
      h3 Dealer App
      p Get to work
    a.tile.user(href="/")
      h3 Support
      p Get help or contact support.

  // General tiles for all roles
  a.tile.general(href="/")
    h3 Announcements
    p Stay updated with the latest news.