extends layout

block content
  h2= "My Profile"
  br
  div
    p Hello, #{user.displayName}. Below is the information that was read with your #[a(href="https://developer.okta.com/docs/api/resources/oidc.html#get-user-information", target="_blank") Access Token].
  br
  table.table.table-striped
    thead 
      tr 
        th Claim 
        th Value 
    tbody 
    for values, claims in user
      tr 
        td #{claims}
        td #{values}
  
  br
  form.navbar-form.navbar-left(method="get", action="/tokens")
        button#logout-button.btn.btn-primary(type="submit") View my Tokens  
  
  br
  div
   p Click #[a(href="https://dashboard.j5demo.com/ecommerce/profile", target="_self") here] to head back to my.Org.
    
