extends layout

block content
  h2= "Acme Registration"
  br
  div.col-xs-6
    p Fill out the following to register for access to Acme
    
    form(method="post", action="/submit")
    
      label(for="firstname") First Name:
      input(type="text", name="firstname", id="firstname")

      br
    
      label(for="lastname") Last Name:
      input(type="text", name="lastname", id="lastname")

      br

      label(for="email") Email:
      input(type="email", name="email", id="email")

      br

      input(type="submit", value="Submit")
      
      button.btn.btn-primary(type='button', onclick='callRegAPI()') Register