extends layout

block content
  h2= "My Tokens"
  br
  div
    p Below  are the values for #{user.displayName}'s id and access tokens minted by Okta.

  br
  table.table.table-striped
    thead 
      tr 
        th ID Token 
    tbody
    for value in id_token
      tr
        td #{value}
  br
  table.table.table-striped
    thead 
      tr 
        th Access Token 
    tbody 
    for accessToken in user
      tr
        td #{accessToken}
        
  br
  
  form.navbar-form.navbar-left(method="get", action="/profile")
            button#logout-button.btn.btn-primary(type="submit") Back to the profile page
            
