extends layout

block content
  h2= "My Tokens"
  br
  div
    p Below  are the values for <b>#{user.displayName}'s</b> id and access tokens minted by Okta.

  br
  <pre class="rounded"><code class="json">
  table.table.table-striped
    thead 
      tr 
        th ID Token 
    tbody
      tr
      td #{idtoken}
      
  </code></pre>
  br
  <pre class="rounded"><code class="json">
  table.table.table-striped
    thead 
      tr 
        th Access Token
    tbody 
      tr
        td #{amtoken}
  </code></pre>      
  br  
  
  form.navbar-form.navbar-left(method="get", action="/apis")
            button#logout-button.btn.btn-primary(type="submit") Now lets test some APIs
  
  form.navbar-form.navbar-left(method="get", action="/profile")
            button#logout-button.btn.btn-primary(type="submit") Back to the profile page
            