:root {
    --color-x: rgba(193, 220, 220, 1);
    --color-1: #005e60;
    --color-2: #ffffff;
    --color-3: rgba(30, 30, 30, 0.75);
    --color-4: rgba(30, 30, 30, 0.5);
    --font: "Nissan Regular",Verdana,Arial,sans-serif;
  }

body.old {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a.old {
  color: #00B7FF;
}

btn.old {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

button.old{
  background-color: #4CAF50;
}

btn:hover.old{
  border-left: 3px solid blue;
}

div.a.old{
  float: left;
  width: 50%;
}

div.b.old{
  float: right;
  width: 50%;
}

nav.navbar.navbar-default.old {
  background-color: blue;
}

container-fluid.old {
  background-color: blue;
}

input.input-custom {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}

.navbar-form {
  margin-top: 30px !important;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333; /* Set your desired background color */
  color: #fff; /* Set your desired text color */
  text-align: center;
  padding: 5px 0; /* Add padding for spacing */
}



.tile { 
  display: inline-block; 
  width: 200px; 
  height: 100px; 
  margin: 10px; 
  text-align: center; 
  background: #f5f5f5; 
  border: 1px solid #ddd; 
  border-radius: 8px; 
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  font-family: var(--font);
}

.tile:hover {
  background: #eaeaea;
  cursor: pointer;
  text-decoration: none;
      }

.tile.admin { 
  background: #ffdddd; 
}

.tile.user { 
  background: #ddffdd; 
}